<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.DiaryMapper">
	<cache />
	<insert id="insertDiary" parameterType="Diary">
		<selectKey keyProperty="groupsch_id" resultType="string"
			order="BEFORE">
			SELECT seq_did.nextval AS id FROM DUAL
		</selectKey>
		INSERT INTO DIARY (d_id, d_date, content, u_id)
		VALUES (#{d_id}, #{d_date}, #{content}, #{u_id})
	</insert>

	<delete id="deleteDiary" parameterType="string">
		DELETE FROM DIARY
		WHERE d_id = #{d_id}
	</delete>
	
	<select id="findAllDiaries" parameterType="string" resultType="Diary">
		SELECT d_id, d_date, content
		FROM DIARY
		WHERE u_id = #{u_id}
	</select>
	
	<select id="findDiary" parameterType="string" resultType="Diary">
		SELECT d_date, content
		FROM DIARY
		WHERE d_id = #{d_id}
	</select>
</mapper>