<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.GroupMapper">
<cache />

 <insert id="insertGroupInfo" parameterType="GroupInfo">
	<selectKey keyProperty="id" resultType="string" order="BEFORE">
		SELECT seq_gid.nextval AS id FROM DUAL
	</selectKey>
				
	INSERT INTO GroupInfo
	VALUES (#{id}, #{g_name})
 </insert>

 <insert id="insertAdmission" parameterType="string">
 	INSERT INTO Admission
 	VALUES (#{g_id}, #{u_id})
 </insert>

 <delete id="deleteGroupInfo" parameterType="string">
 	DELETE FROM GroupInfo
 	WHERE g_id = #{id}
 </delete>

 <select id="selectGroupListByUserId" parameterType="string" resultType="GroupInfo">
 	SELECT g.g_id, g.g_name, count(g.g_id) AS numberOfMember
 	FROM ADMISSION a JOIN GROUP g USING (g_id)
 	WHERE a.u_id = #{id}
 </select>

 <select id="selectAllGroups" resultType="GroupInfo">
 	SELECT *
 	FROM GroupInfo
 </select>
</mapper>