<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.GroupScheduleMapper">
<cache />

 <insert id="insertGroupSchedule" parameterType="GroupSchedule">
	<selectKey keyProperty="id" resultType="string" order="BEFORE">
		SELECT seq_gschid.nextval AS id FROM DUAL
	</selectKey>
	INSERT INTO GROUP_SCHEDULE 
	VALUES (#{homework}, #{g_id}, #{id}, #{memo}, #{title}, #{groupsch_date})
 </insert>

 <delete id="deleteGroupSchedule" parameterType="string">
 	DELETE FROM GROUP_SCHEDULE
 	WHERE groupsch_id = #{id}
 </delete>
 
 <update id="updateGroupSchedule" parameterType="string">
 	UPDATE FROM GROUP_SCHEDULE
 	SET title = #{title}
 	WHERE groupsch_id = #groupsch_id}
 </update>

 <select id="findGroupSchedule" parameterType="string" resultType="GroupSchedule">
 	SELECT groupsch_id, title, groupsch_date, homework, memo
	FROM GROUP_SCHEDULE
	WHERE g_id = #{id}
 </select>
</mapper>