<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="model.dao.UserMapper">
<cache />
	<select id="selectUserByUserId" parameterType="string" resultType="User">
		SELECT u_id, name, email, password
		FROM userInfo
		WHERE u_id = #{u_id}
	</select>

	<select id="selectAllUsers" resultType="User">
		SELECT u_id, name, email, password
		FROM userInfo
	</select>

	<insert id="insertUser" parameterType="string">
		INSERT INTO userInfo (u_id, name, email, password)
		VALUES (#{u_id}, #{name}, #{email}, #{password})
	</insert>

	<update id="updateUser" parameterType="string">
		UPDATE userInfo
		SET password = #{password}
		WHERE u_id = #{u_id}
	</update>

	<delete id="deleteUser" parameterType="string">
		DELETE FROM userInfo
		WHERE u_id = #{u_id}
	</delete>

	<select id="selectExistingUser" parameterType="string" resultType="boolean">
		SELECT COUNT(*)
		FROM userInfo
		WHERE u_id = #{u_id}
	</select>
</mapper>